---
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Privacy Policy - PurpleBox',
  description: 'PurpleBox Inc. Privacy Policy',
};
---

<Layout metadata={metadata}>
  <section class="py-16 md:py-20">
    <div class="container mx-auto px-6 md:px-12">
      <div class="prose dark:prose-invert max-w-4xl mx-auto">
        <h1>Purplebox, Inc. Privacy Policy</h1>

        <h2>Information Collection, Use, and Sharing</h2>
        <p>
          This privacy policy discloses the privacy practices for (prplbx.com). This privacy policy applies solely to
          information collected by this website. We are the sole owners of the information collected on this site. We only
          have access to/collect information that you voluntarily give us by completing and submitting a form on the
          website, via email or other direct contact from you. You may visit our site anonymously.
        </p>
        <p>
          We will not sell or rent this information to anyone. We will use your information to respond to you, regarding
          the reason you contacted us. We will not share your information with any third party outside of our
          organization, other than as necessary to fulfill your request, e.g. to ship an order.
        </p>
        <p>
          Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products
          or services, or changes to this privacy policy.
        </p>
        <p>
          <em>*Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed
          unsubscribe instructions at the bottom of each email.</em>
        </p>

        <h2>Your Access to and Control Over Information</h2>
        <p>
          You may opt out of any future contacts from us at any time. You can do the following at any time by contacting
          us via the email address or phone number given on our website:
        </p>
        <ul>
          <li>See what data we have about you, if any.</li>
          <li>Change/correct any data we have about you.</li>
          <li>Have us delete any data we have about you.</li>
          <li>Express any concern you have about our use of your data.</li>
        </ul>

        <h2>Security</h2>
        <p>
          We take precautions to protect your information. When you submit sensitive information via the website, your
          information is protected both online and offline.
        </p>
        <p>
          Wherever we collect sensitive information (such as name, email, address, telephone, etc…), that information is
          encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the
          bottom of your web browser, or looking for “https” at the beginning of the address of the web page.
        </p>
        <p>
          While we use encryption to protect sensitive information transmitted online, we also protect your information
          offline. Only employees who need the information to perform a specific job (for example, billing or customer
          service) are granted access to personally identifiable information. The computers/servers in which we store
          personally identifiable information are kept in a secure environment.
        </p>

        <h2>Cookies</h2>
        <p>
          We use “cookies” on this site. A cookie is a piece of data stored on a site visitor’s hard drive to help us
          improve your access to our site and identify repeat visitors to our site. Cookies can be used to maintain your
          session or enable us to track and target the interests of our users to enhance the experience on our site.
          Usage of a cookie is in no way linked to any personally identifiable information on our site.
        </p>
        <p>
          Some of our business partners may use cookies on our site (for example, advertisers). However, we have no
          access to or control over these cookies.
        </p>
        <p>
          Most Internet browsers automatically accept cookies, but you can change your settings or use third-party tools
          to refuse cookies or prompt you before accepting cookies from the websites you visit. You can also use your
          browser settings or other tools to delete cookies you already have.
        </p>

        <h2>Sharing</h2>
        <p>
          We partner with our technology partners to provide specific services. When the user signs up for these
          services, we will share names, or other contact information that is necessary for the third party to provide
          these services. These parties are not allowed to use personally identifiable information except for the
          purpose of providing these services.
        </p>

        <h2>Links</h2>
        <p>
          This web site contains links to other sites. Please be aware that we are not responsible for the content or
          privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read
          the privacy statements of any other site that collects personally identifiable information.
        </p>

        <h2>Surveys & Contests</h2>
        <p>
          From time-to-time our site requests information via surveys or contests. Participation in these surveys or
          contests is completely voluntary and you may choose whether or not to participate and therefore disclose this
          information. Information requested may include contact information (such as name and shipping address), and
          demographic information (such as zip code, age level). Contact information will be used to notify the winners
          and award prizes. Survey information will be used for purposes of monitoring or improving the use and
          satisfaction of this site.
        </p>

        <h2>Consent</h2>
        <p>By using our site, you consent to our website privacy policy.</p>

        <h2>Updates</h2>
        <p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>

        <h2>Contacting Us</h2>
        <p>
          If there are any questions regarding this privacy policy, you may contact us using the information below:
        </p>
        <p>
          PurpleBox, Inc.<br />
          4780 Ashford Dunwoody Rd. Suite A-310<br />
          Atlanta, GA 30338-5504<br />
          <a href="mailto:contact@prplbx.com">contact@prplbx.com</a>
        </p>
        <p><em>Last updated: 1 November 2015</em></p>
      </div>
    </div>
  </section>
  <CallToAction />
</Layout>